.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ignore virtual environment folders
env/
venv/
.venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore the ignore directory
ignore/

# Docker specific files
Dockerfile
.dockerignore
